.about-me {
    padding: 5rem 1rem;
}

.about-me .container {
    margin: 0 auto;
    text-align: center;
}

.about-me h2 {
    font-size: 2.5rem;
    margin-bottom: 30px;
}

.about-me p {
    font-size: 1.1rem;
    line-height: 1.6;
    font-weight: 400;
}

.socials{
    margin-top: 1rem;
}

.socials i{
    margin: 2rem;
}

.socials a{
    color: var(--white);
    transition: all 0.2s ease;
}
.socials a:hover{
    color: var(--accent);
}
